.m {
    background-color: aliceblue;
    border-radius: 12px;
    width: 180px;
    font-size: 18px;
    color: rgb(26, 26, 26);
    border-color:aliceblue;
}

.m:hover {
    background-color: aliceblue;
    border-radius: 12px;
    color: rgb(26, 26, 26);
    border-color:aliceblue;
}


.object-detect {
    background-color: rgb(164, 136, 255);
    padding:3px;
    margin-bottom: 3px;
    border-radius:6px;
width:300px !important;
color:black;
}
.object-detect:hover {
    background-color: rgb(164, 136, 255);
    padding:3px;
    margin-bottom: 3px;
    border-radius:6px;
width:300px !important;
color:black;
}
canvas{
border-radius:8px;
}